{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inner.css') }}"
      xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block content %}
<div class="col-lg-16">
    <p>Playlist</p>
    {% for track in playlist %}
        <p>
            <h2>{{ track.title }}</h2>
            <iframe width="530" height="50" src="//www.youtube.com/embed/{{ track.yt_id }}" frameborder="0"></iframe>
        </p>
    {% endfor %}
</div>
{% endblock %}
